<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/premium-photo/luxury-sports-car-paris-with-eiffel-tower-background_1301196-8953.jpg);">
  <div class="container">
    <h1>Welcome to <strong>Super Auto</strong></h1>
    <p>Explore a new city with our car rentals.</p>
    <a class="btn btn-success" href=cars>See All Cars</a>
  </div>
</div>

<%# <div class="container">
  <h2 class="text-center mt-5">How it works</h2>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">1. Find a car</h5>
          <p class="card-text">Browse our selection of cars and find the perfect one for your trip.</p>
        </div>
      </div>
    </div>
  </div>
</div>  %>
