.navbar-lewagon {
  justify-content: space-between;
  background: rgb(231, 231, 231);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  height: 100px;
}

header img {
  height: 80px;
}

body {
  height: 125vh;
  background-image: url('');
  background-size: cover;
  font-family: sans-serif;
}

main {
  color: white;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.menu_icon {
}
