/* app/assets/stylesheets/cars.scss */

.cars-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  color: #000000;
  /* Set text color to black */
}

.card-title,
.card-text {
  color: #000000;
  /* Ensure all text within cards is black */
}

.pending {
  border: solid 1px orange;
  color: orange;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 3px 9px;
}

.card-box {
  border: solid 1px gray;
  border-radius: 8px;
}
