<div class="car-container d-flex flex-column mt-5">
  <div class="car-picture mb-4">
  </div>
  <div class="d-flex justify-content-between" data-controller="total-price">
    <div class="d-flex flex-column">
      <h2><%= @car.title %></h2>
      <h2 data-total-price-target="pricePerDay"><%= @car.price_per_day %><span>$ / day</span></h2>
      <p class="mt-4"><strong>DESCRIPTION</strong></p>
      <p><%= @car.description %></p>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex">
        <div>Total:</div>
        <h5 data-total-price-target="total">0</h5>
        <h5>$</h5>
      </div>
      <%= render "bookings/booking_form", car: @car , booking: @booking %>
    </div>
  </div>
</div>
