<div class="car-container d-flex flex-column mt-5">
  <div class="car-picture mb-4">
  </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <h2><%= @car.title %></h2>
      <h6 class="mt-4">DESCRIPTION</h6>
      <p><%= @car.description %></p>
    </div>
    <div class="d-flex flex-column">
      <h4><%= @car.price_per_day %>$ per day</h4>
      <%= render "bookings/booking_form", car: @car , booking: @booking %>
    </div>
  </div>
</div>
